LLM_PROVIDER=
GROQ_API_KEY=
OPENAI_API_KEY=
LLM_MODEL=
GUARD_LLM_MODEL=

EXAMPLE_DB=data/example_db/Digital-Music-Store.db
EXAMPLE_FILE=data/example_file/Product-Sales-Region.xlsx
UPLOAD_DIR=data/uploaded_files

LANGCHAIN_TRACING_V2=true
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=